.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  z-index: 100;
}

.modal_opened {
  visibility: visible;
}

.modal__header {
  color: black;
  font-family: "Roboto", "Inter", sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 28.13px;
  margin: 0;
}

.modal__error-message {
  color: rgba(255, 0, 0, 1);
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 14.52px;
  margin: 3px 0 0;
  display: block;
}

.modal__close {
  position: absolute;
  top: 20px;
  right: 28px;
}

.modal__content {
  background-color: #fff;
  position: relative;
  padding: 34px 36px 28px;
  max-width: 430px;
  box-sizing: border-box;
  width: 100%;
  border-radius: 20px;
  font-weight: 900;
  font-size: 16px;
  line-height: 20px;
}

.modal__form {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 21px;
}

.modal__form:has(.modal__error-message) {
  gap: 13px;
}

.modal__label {
  display: block;
  margin-bottom: 8px;
  color: rgba(47, 113, 229, 1);
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 14.52px;
}

.modal__input {
  display: block;
  border: none;
  border-bottom: 1px solid rgb(84 84 84 / 1);
  width: 100%;
  padding: 8px 0;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.94px;
  color: rgba(0, 0, 0, 1);
}

.modal__legend {
  padding: 24px 0 12px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.modal__buttons-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 8px;
}

.modal__submit {
  width: 358px;
  height: 64px;
  margin-top: 0px;
  background-color: rgba(230, 232, 235, 1) !important;
  border: none;
  border-radius: 100px;
  color: rgba(182, 188, 191, 1);
  cursor: pointer;
}

.modal__submit--active {
  background-color: rgba(47, 113, 229, 1) !important;
  color: rgba(255, 255, 255, 1) !important;
  cursor: pointer;
}

.modal__submit-other {
  width: 124px;
  height: 36px;
  margin-top: 16px;
  background-color: transparent;
  border: none;
  border-radius: 4px;
  color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.modal__header-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
}

.modal__registration-complete-other {
  width: 124px;
  height: 36px;
  margin-top: 14px;
  background-color: transparent;
  border: none;
  color: #2f80ed;
  cursor: pointer;
  text-align: left;
  padding-left: 0;
}

.modal__signup {
  width: 358px;
  height: 64px;
  margin-top: 0px;
  background-color: rgba(230, 232, 235, 1) !important;
  border: none;
  border-radius: 100px;
  color: rgba(182, 188, 191, 1);
  cursor: pointer;
}

.modal__signup-other {
  width: 124px;
  height: 36px;
  margin-top: 16px;
  background-color: transparent;
  border: none;
  border-radius: 4px;
  color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.modal__save-btn {
  width: 124px;
  height: 36px;
  margin-top: 32px;
  background-color: #000 !important;
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
}

.modal__close {
  position: absolute;
  top: -46px;
  right: -46px;
  background-color: transparent;
  background-image: url(../../assets/close.png);
  width: 40px;
  height: 40px;
  border: none;
  cursor: pointer;
}

.modal__delete-btn {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: rgba(255, 77, 0, 1);
  border: none;
  background-color: transparent;
  cursor: pointer;
  display: inline-block;
  width: 115px;
  height: 24px;
  position: absolute;
  right: 32px;
  bottom: 68px;
}

.modal__success {
  margin-top: 20px;
  text-align: center;
}

.modal__signin-btn {
  margin-top: 10px;
  background-color: rgba(47, 113, 229, 1);
  border: none;
  border-radius: 100px;
  color: rgba(255, 255, 255, 1);
  cursor: pointer;
  padding: 10px 20px;
}

@media screen and (max-width: 768px) {
  .modal {
    width: 100%;
    height: auto;
  }

  .modal__content {
    width: 430px;
    height: 90vh;
  }
}

@media screen and (max-width: 522px) {
  .modal {
    width: 100%;
    height: auto;
  }

  .modal__content {
    margin-top: 120px;
    width: 100%;
    /* height: 90vh; */
  }
  .modal__submit {
    width: 75%;
    height: 64px;
    margin-top: 0px;
  }
  .modal__close {
    position: absolute;
    top: -46px;
    right: 16px;
  }
  .modal__input {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
  }
  .modal__label {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
  }
}
