.App {
  /* background-color: black; */
  font-family: "Inter", "Roboto", "Roboto-Slab", sans-serif;
  color: white;
}

.App__content {
  max-width: 1440px;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .App {
    padding: 0;
  }
}
