.App {
  background-color: black;
  font-family: "Inter", "Roboto", "Roboto-Slab", serif;
  color: white;
}

.App__content {
  max-width: 1440px;
  /* max-width: 100%; */
  margin: 0 auto;
  /* padding: 0; */
}

@media screen and (max-width: 768px) {
  .App {
    padding: 0;
  }
}
