.about {
  padding: 80px 0;
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  justify-content: flex-start;
}

.about__container {
  max-width: 800px;
  display: flex;
  align-items: center; /* Align items vertically */
  margin-left: 104px;
  gap: 56px;
}

.about__image {
  width: 464px;
  height: 464px;
  border-radius: 1000px;
  object-fit: cover;
  flex-shrink: 0;
}

.about__content {
  display: flex;
  flex-direction: column;
}

.about__title {
  font-family: "Roboto-Slab", "Inter", sans-serif;
  font-size: 40px;
  font-weight: 400;
  line-height: 46px;
  color: black;
  margin-bottom: 5px;
  width: 600px;
}

.about__text {
  font-family: "Roboto", "Inter", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: #333;
  width: 600px;
}

@media screen and (max-width: 768px) {
  .about {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center;
  }
  .about__container {
    max-width: 768px;
    margin: 0 auto;
    gap: 32px;
  }
  .about__image {
    width: 232px;
    height: 232px;
    border-radius: 1000px;
    object-fit: cover;
    flex-shrink: 0;
  }
  .about__title {
    font-family: "Roboto-Slab", "Inter", sans-serif;
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 5px;
    width: 424px;
  }
  .about__text {
    font-family: "Roboto", "Inter", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    color: #333;
    width: 424px;
  }
}
