.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 32px 0 28px;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.header__user-container {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 42px;
}

.header__header-name {
  font-family: "Roboto-Slab", serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.header__home-button {
  background: none;
  color: white;
  border: none;
  font-size: 18px;
  line-height: 24px;
  font-family: "Roboto", serif;
  cursor: pointer;
  padding: 0;
}

.header__login-button {
  background-color: transparent;
  border: 1px solid white;
  border-radius: 100px;
  color: white;
  padding: 8px 20px;
  font-size: 18px;
  line-height: 24px;
  font-family: "Roboto", serif;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
  width: 176px;
  height: 48px;
}

.header__header-text {
  font-family: "Roboto-Slab", serif;
  font-weight: 400;
  font-size: 60px;
  line-height: 64px;
  width: 608px;
  height: 128px;
  margin: 0;
}

.header__subheader-text {
  margin: 32px 0 0 0;
  font-family: "Roboto", serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  width: 608px;
  height: 24px;
}

.header__search {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 88px;
}
