/* Navigation styles */
.nav {
  display: flex;
  align-items: center;
  gap: 42px;
}

.nav__links {
  display: flex;
  align-items: center;
}
.nav__menu-button {
  display: none;
}

.nav__header-name {
  font-family: "Roboto-Slab", "Inter", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.nav__link {
  background: none;
  border: none;
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
  font-family: "Roboto", "Inter", sans-serif;
  cursor: pointer;
  padding-top: 23px;
  padding-bottom: 23px;
  margin-left: 76px;
  transition: color 0.3s, border-bottom 0.3s;
  border-bottom: 2px solid transparent;
  text-decoration: none;
}

.nav__link_active {
  border-bottom: 2px solid white;
}

.nav__link_location_home {
  color: rgba(182, 188, 191, 1); /* Color for Home link on home page */
}

.nav__link_location_saved-articles {
  color: #1a1b22; /* Color for Saved Articles link on saved articles page */
  border-bottom: 2px solid #d1d2d6; /* Border for saved articles link */
}

/* Logout Button */
.nav__logout {
  background-color: transparent;
  border: 1px solid white;
  border-radius: 100px;
  color: white;
  padding: 0 20px;
  font-size: 18px;
  line-height: 24px;
  font-family: "Roboto", "inter", sans-serif;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
  width: auto;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  min-width: auto;
  height: 48px;
  display: flex;
  align-items: center;
  text-decoration: none;
  margin-left: 42px;
}

/* Logout image */
.nav__logout-image {
  width: 17.41px;
  height: 16px;
  margin-left: 22px;
}

/* Login Button */
.nav__login {
  background-color: transparent;
  border: 1px solid white;
  border-radius: 100px;
  color: white;
  /* padding: 8px 20px; */
  margin-left: 42px;
  font-size: 18px;
  line-height: 24px;
  font-family: "Roboto", "Inter", sans-serif;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
  width: 176px;
  height: 48px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

@media screen and (max-width: 818px) {
  .nav {
    gap: 16px;
  }
  .nav__login {
    font-size: 16px;
    width: 152px;
    height: 40px;
    font-size: 16px;
  }

  .nav__link {
    font-size: 16px;
  }
  .nav__link_active {
    border-bottom: 3px solid white;
    font-size: 16px;
  }
  .nav__logout {
    padding: 0 20px;
    height: 48px;
    font-size: 16px;
  }
  .nav__logout-image {
    width: 17.41px;
    height: 16px;
    margin-left: 17px;
  }
}

@media screen and (max-width: 620px) {
  /* Hide Desktop Navigation */
  .nav__links {
    display: none;
  }

  /* Mobile Menu Button */
  .nav__menu-button {
    background: none;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
    cursor: pointer;
    padding: 10px;
    position: relative;
    z-index: 30;
  }

  .nav__menu-line {
    width: 24px;
    height: 3px;
    background-color: white;
    transition: transform 0.3s;
  }

  .nav__menu-button_open .nav__menu-line:nth-child(1) {
    transform: translateY(1px) rotate(45deg);
    position: absolute;
  }

  .nav__menu-button_open .nav__menu-line:nth-child(2) {
    opacity: 0;
  }

  .nav__menu-button_open .nav__menu-line:nth-child(3) {
    transform: translateY(1px) rotate(-45deg);
    position: absolute;
  }

  /* Mobile Menu Links */
  .nav__links_open {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #333;
    border-radius: 0;
    z-index: 20;
    overflow-y: auto;
  }
  .nav__link {
    background: none;
    border: none;
    font-size: 54px;
    line-height: 36px;
    padding: 23px;
    transition: color 0.3s, border-bottom 0.3s;
    border-bottom: 2px solid transparent;
    text-decoration: none;
    padding-top: 100px;
  }

  .nav__link_active {
    border-bottom: 2px solid white;
  }
  .nav__login {
    margin-left: 0;
    font-size: 18px;
    line-height: 24px;
    width: 90%;
    height: 72px;
  }
  .nav__logout {
    padding: 0 20px;
    height: 72px;
    font-size: 24px;
  }
  .nav__logout-image {
    width: 26.11px;
    height: 24px;
    margin-left: 25.5px;
  }
}

@media screen and (max-width: 462px) {
  .nav__link {
    font-size: 27px;
    line-height: 18px;
    /* padding: 23px; */
    transition: color 0.3s, border-bottom 0.3s;
    /* border-bottom: 2px solid transparent; */
    text-decoration: none;
    /* padding-top: 100px; */
    margin-left: 0;
    padding: 0;
  }
  .nav__link_active {
    border-bottom: 2px solid white;
    margin-left: 0;
    padding: 23px;
  }
  .nav__login {
    margin-left: 0;
    font-size: 18px;
    line-height: 24px;
    width: 80%;
    height: 56px;
  }
}
