/* Navigation styles */
.nav {
  display: flex;
  align-items: center;
  gap: 42px;
}

.nav__links {
  display: flex;
  align-items: center;
}
.nav__menu-button {
  display: none;
}

.nav__header-name {
  font-family: "Roboto-Slab", "Inter", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.nav__link {
  background: none;
  border: none;
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
  font-family: "Roboto", "Inter", sans-serif;
  cursor: pointer;
  padding-top: 23px;
  padding-bottom: 23px;
  margin-left: 76px;
  transition: color 0.3s, border-bottom 0.3s;
  border-bottom: 2px solid transparent;
  text-decoration: none;
}

.nav__link_active {
  border-bottom: 2px solid white;
}

.nav__link_location_home {
  color: rgba(182, 188, 191, 1); /* Color for Home link on home page */
}

.nav__link_location_saved-articles {
  color: #1a1b22; /* Color for Saved Articles link on saved articles page */
  border-bottom: 2px solid #d1d2d6; /* Border for saved articles link */
}

/* Logout Button */
.nav__logout {
  background-color: transparent;
  border: 1px solid white;
  border-radius: 100px;
  color: white;
  padding: 0 20px;
  font-size: 18px;
  line-height: 24px;
  font-family: "Roboto", "inter", sans-serif;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
  width: auto;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  min-width: auto;
  height: 48px;
  display: flex;
  align-items: center;
  text-decoration: none;
  margin-left: 42px;
}

/* Logout image */
.nav__logout-image {
  width: 17.41px;
  height: 16px;
  margin-left: 22px;
}

/* Login Button */
.nav__login {
  background-color: transparent;
  border: 1px solid white;
  border-radius: 100px;
  color: white;
  /* padding: 8px 20px; */
  margin-left: 42px;
  font-size: 18px;
  line-height: 24px;
  font-family: "Roboto", "Inter", sans-serif;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
  width: 176px;
  height: 48px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

@media screen and (max-width: 818px) {
  .nav {
    gap: 16px;
  }
  .nav__login {
    font-size: 16px;
    width: 152px;
    height: 40px;
    font-size: 16px;
  }

  .nav__link {
    font-size: 16px;
  }
  .nav__link_active {
    border-bottom: 3px solid white;
    font-size: 16px;
  }
  .nav__logout {
    padding: 0 20px;
    height: 48px;
    font-size: 16px;
  }
  .nav__logout-image {
    width: 17.41px;
    height: 16px;
    margin-left: 17px;
  }
}
@media screen and (max-width: 620px) {
  .nav__links {
    display: none;
  }
}
